<p>
  <b>Sender:</b>
  <%=h @message.sender_id %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @message.recipient_id %>
</p>

<p>
  <b>Channel:</b>
  <%=h @message.channel_id %>
</p>

<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>

<p>
  <b>Sent:</b>
  <%=h @message.sent %>
</p>

<p>
  <b>Type:</b>
  <%=h @message.type %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
