<html>
  <head>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, :juggernaut %>
    <%= juggernaut \
          :debug => false,
          :host => request.host, 
          :client_id => current_user.id,
          :channels => ['lobby'] %>
  </head>
  <body>
    <div id="chat">
      <div id="messages">
        <div class="history">
          <%= render :partial => 'messages/message', :collection => @messages %>
        </div>
      </div>
      <div id="text_input">
        <%= form_remote_tag(
              :url => messages_path,
              :complete => "$('message_content').value = '';" ) %>
          <%= text_field_tag 'message[content]', '', { :id => 'message_content'} %>
          <%= hidden_field_tag 'message[kind]', 'lobby', {:id => 'message_kind'}%>
          <%= submit_tag "Send" %>
        </form>
      </div>
    </div>
  </body>
</html>