<html>
  <head>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults, :juggernaut, 'chat' %>
    <%= juggernaut \
          :host => request.host, 
          :client_id => current_user.id,
          :channels => ['lobby'] %>
  </head>
  <body id="lobby">
    <div id="chat">
      <div id="messages">
        <div class="history">
          <%= render :partial => 'messages/message', :collection => @messages %>
          <div class="marker">
            &#x2191; HISTORY &#x2191;
          </div>
        </div>
      </div>
      <div id="text_input">
        <%= form_remote_tag(
              :url => messages_path,
              :complete => "$('message_content').value = '';" ) %>
          <%= text_field_tag 'message[content]', '', 
              { :id => 'message_content', 
                :disabled => true} %>
          <%= hidden_field_tag 'message[kind]', 'lobby', {:id => 'message_kind'}%>
          <%= submit_tag "Send", {:id => "message_send", :disabled => true} %>
          <div id="chat_status">
            
          </div>
        </form>
      </div>
      <div id="users">
        <%= render :partial => 'user_list', :locals => {:users => User.online} %>
      </div>
    </div>
  </body>
</html>