<html>
  <head>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, :juggernaut %>
    <%= juggernaut :host => request.host, :debug => false %>
  </head>
  <body>
    <div id="wrap">
      <div id="main">
        <%= yield %>
      </div>
      
      <div id="messages">
        
      </div>

      <div id="text_input">
        <%= form_remote_tag(
              :url => { :action => :send_data },
              :complete => "$('chat_input').value = '';" ) %>
          <%= text_field_tag( 'chat_input', '', { :id => 'chat_input'} ) %>
          <%= submit_tag "Send" %>
        </form>
      </div>
    </div>

    <div id="user_list">
      <% User.active.each do |u| %>
        <span style="color:#<%= u.colour %>"><%= u.username %></span><br />
      <% end %>
    </div>
      
      
    <p><a href="http://github.com/bjeanes/towerdefense">Source Code and Changelog</a></p>
  </body>
</html>